
body {
    background-color: black;
    color: whitesmoke;
    scroll-snap-align: start;
}
.w3-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.w3-image {
    border-color: white;
    align-items: center;
    margin-left: 15%;
} 

.w3-bar {
    background-color: black; 
    color: white; 
}
.w3-bar a:hover {
    background-color: blue; 
    color: black; 
}

.parallax-header {
  height: 690px;
  background-image: url('img/drums1.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-content h1 {
  font-size: 36px; 
  margin-bottom: 10px;
}

.header-content p {
  font-size: 18px; 
  margin: 0;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px; 
}
.card {
    width: calc(33.33% - 10px);
    width: 420px;
    height: 254px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 2px solid #ff0000;
    transition: 0.5s ease-out;
    overflow: visible;
    margin-bottom: 100px;
    background-image: url('img/1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
   
   .card-details {
    color: rgb(255, 255, 255);
    height: 100%;
    gap: .5em;
    display: grid;
    place-content: center;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 7px;
    border: none;
    background-color: rgb(35, 35, 35);
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
    cursor: pointer;

   }
   
   /*Text*/
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
   }
   
   /*Hover*/
   .card:hover {
    border-color: #ffffff;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   .bottom-row {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }

.w3-row-padding {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 400px;

}

.w3-col {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .w3-col {
    flex: 0 0 30%; 
    max-width: 30%;
  }
}

.w3-margin-bottom img {
  width: 100%;
  height: fit-content;
  border-radius: 1%;
  border: 1px solid #fff; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
}
.w3-container{

  margin-top: 600px;
}


/* Dark mode styles */
.dark-mode {
  background-color: whitesmoke;
  color: black;
}
